* {
  margin: 0;
  padding: 0;
  font-family: "League Spartan", sans-serif;
  scroll-behavior: smooth;
  box-sizing: border-box;
  transition: all ease 0.3s;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}
