@import url("https://fonts.googleapis.com/css2?family=League+Spartan&family=Source+Code+Pro&display=swap");
// reset file
@import "./resests";

//scrollbar file
@import "./scrollBar";

// scroll to next button file
@import "./scrollToNextBtn";

//mixin
@mixin a-tag {
  color: white;

  padding: 5px;
  font-weight: bold;

  &:hover {
    color: chocolate;
  }
}

// Header

.header {
  background-color: rgb(30 27 27 / 31%);
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  width: 100%;
  position: fixed;
  z-index: 2;
  backdrop-filter: blur(30px);

  nav > ul {
    display: flex;

    li {
      margin: 20px;
      font-size: 20px;

      a {
        @include a-tag;
        color: white;
      }
    }
  }
}

.logo {
  a {
    display: inline-block;
    width: 100%;
    color: white;
    font-size: 24px;
    font-weight: bold;
    &:hover {
      color: chocolate;
    }
  }
}
.socialMedia {
  display: flex;
  li {
    margin: 10px;
    font-size: 20px;

    a {
      @include a-tag;
    }
  }
}
// Hero-Section

.heroSection {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // background-color: rgb(8, 8, 8);
  background: url(../image/bg2.jpg) 100% 100%;

  background-size: 100% 100%;

  .features {
    font-size: 22px;
    letter-spacing: 2px;
    font-family: "Source Code Pro", monospace;
    color: rgb(255, 255, 255);
    border-bottom: 2px solid chocolate;
  }

  .rahulSuthar {
    font-size: 8vw;
    color: chocolate;
    font-weight: bold;
    letter-spacing: 0.1em;
  }
  .heroBtn {
    margin-top: 30px;
    padding: 24px 20px;
    border-radius: 5px;
  }
}
.button {
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1.2em;
  color: gray;
  margin-right: 10px;
  border: 2px solid gray;

  &:hover {
    color: white;
    font-weight: 500;
    border: 2px solid chocolate;
  }
}

.project {
  // height: 100vh;
  background-image: linear-gradient(to right, #0b0b0c, #000000);
  color: white;

  .container {
    border-top: 2px solid white;
    position: relative;

    h2 {
      position: absolute;
    }
  }

  .scrollSymbol {
    width: 20px;
    margin: auto;
    margin-top: -100px;
  }
}
.sectionWrapper {
  padding: 100px;
}

.headingCtnr {
  text-align: center;
}
.headingTwo {
  font-size: 3em;
  display: inline-block;
  position: relative;
  border-bottom: 4px solid chocolate;
}

.projectGrid {
  padding-top: 50px;
  // width: 90vw;
  margin: auto;
  .row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }

  /* Create four equal columns that sits next to each other */
  .column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;

    img {
      margin-top: 8px;
      vertical-align: middle;
      width: 100%;
    }
  }
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }

  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }

  .imgBox {
    // background: rgba(0, 0, 0, 0.158); /* Black see-through */
    position: relative;
    color: rgb(0, 0, 0);
    text-align: center;
    .overlay {
      opacity: 0;
      position: absolute;
      bottom: 0;
      width: 100%;
      text-align: start;

      h5 {
        padding-top: 5px;
      }

      p {
        font-size: 12px;
        padding: 5px 0;
      }
    }

    &:hover {
      transform: scale(1.05);
      z-index: 1;
      img {
        opacity: 0.8;
      }
      .overlay {
        padding: 10px;
        background-color: #fdfbfbe6;
        opacity: 1;
      }
    }
  }
}

#about {
  background: black;
  color: white;
  .part {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 230px;
    }
    .aboutDesc {
      padding: 0 20px;
      h3 {
        font-size: 44px;
        padding: 20px 0;
        color: chocolate;
      }
      p {
        font-size: 20px;
        padding-bottom: 30px;
        line-height: 1.2em;
      }
    }
  }
}

// skills

#skills {
  background-color: rgb(8 7 7);
  color: white;

  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 50px;
  }
  .card {
    padding: 20px;
    font-size: 30px;
    border: 2px solid chocolate;
  }
}

#contact {
  background-color: #171721;
  color: white;
  .contactForm {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
  }
}

.inputs {
  display: flex;
  width: 100%;
  justify-content: space-between;
  input {
    width: 49%;
  }
}

.formEle {
  padding: 10px;
  outline: none;
  margin: 10px 0;
  font-size: 16px;
  border-radius: 5px;
  background: #000;
  border: none;
  color: white;
}

textarea {
  resize: vertical;
}
button {
  background: transparent;
}

footer {
  display: flex;
  padding: 40px 100px;
  background-color: #101019;
  justify-content: space-between;
  align-items: center;
  color: white;
}
#success {
  color: green;
  font-size: 18px;
  position: relative;
  top: 10px;
}
