@import url("https://fonts.googleapis.com/css2?family=League+Spartan&family=Source+Code+Pro&display=swap");
@import "./resests";

a {
  text-decoration: none;
}

li {
  list-style: none;
}

//mixin
@mixin a-tag {
  transition: all 0.5s;
  color: white;

  padding: 5px;
  font-weight: bold;

  &:hover {
    color: chocolate;
  }
}

// Header

.header {
  background-color: rgb(30 27 27 / 31%);
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  width: 100%;
  position: fixed;
  z-index: 2;
  backdrop-filter: blur(16px);

  .logo {
    a {
      display: inline-block;
      width: 100%;
      color: white;
      font-size: 24px;
      transition: all 0.5s;
      font-weight: bold;
      &:hover {
        color: chocolate;
      }
    }
  }

  nav > ul {
    display: flex;

    li {
      margin: 20px;
      font-size: 20px;

      a {
        @include a-tag;
        color: gray;
      }
    }
  }
}

.socialMedia {
  display: flex;
  li {
    margin: 10px;
    font-size: 20px;

    a {
      transition: all ease 0.3s;
      @include a-tag;
    }
  }
}
// Hero-Section

.heroSection {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // background-color: rgb(8, 8, 8);
  background: url(/image/bg2.jpg) 100% 100%;

  background-size: 100% 100%;

  .features {
    font-size: 22px;
    letter-spacing: 2px;
    font-family: "Source Code Pro", monospace;
    color: gray;
    border-bottom: 2px solid gray;
  }

  .rahulSuthar {
    font-size: 8vw;
    color: chocolate;
    font-weight: bold;
    letter-spacing: 0.2em;
  }
  .heroBtn {
    margin-top: 30px;
    padding: 24px 20px;
    border-radius: 5px;
  }
}
.button {
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1.2em;
  color: gray;
  margin-right: 10px;
  border: 2px solid gray;

  &:hover {
    color: white;
    font-weight: 500;
    border: 2px solid chocolate;
  }
}

.project {
  // height: 100vh;
  background-image: linear-gradient(to right, #0b0b0c, #000000);
  color: white;

  .container {
    border-top: 2px solid white;
    position: relative;

    h2 {
      position: absolute;
    }
  }

  .scrollSymbol {
    width: 20px;
    margin: auto;
    margin-top: -100px;
  }
}
.sectionWrapper {
  padding-top: 100px;
}

.headingCtnr {
  text-align: center;
}
.headingTwo {
  font-size: 3em;
  display: inline-block;
  position: relative;
  border-bottom: 4px solid chocolate;
}

.projectGrid {
  padding-top: 50px;
  width: 90vw;
  margin: auto;
  .row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }

  /* Create four equal columns that sits next to each other */
  .column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;

    img {
      margin-top: 8px;
      vertical-align: middle;
      width: 100%;
    }
  }
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }

  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }

  .imgBox {
    // background: rgba(0, 0, 0, 0.158); /* Black see-through */
    position: relative;
    color: rgb(0, 0, 0);
    transition: all 0.5s ease;
    text-align: center;
    .overlay {
      transition: all 0.5s ease;
      opacity: 0;
      position: absolute;
      bottom: 0;
      width: 100%;
      text-align: start;
      h5 {
        padding-top: 5px;
      }

      p {
        font-size: 12px;
        padding: 5px 0;
      }
    }

    &:hover {
      transform: scale(1.05);
      z-index: 1;
      img {
        opacity: 0.8;
      }
      .overlay {
        padding: 10px;
        background-color: #fdfbfbe6;
        opacity: 1;
      }
    }
  }
}

body::-webkit-scrollbar {
  width: 1em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.977);
  background-color: #2d2d2d;
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(36, 31, 31);
  outline: 1px solid rgb(5, 5, 5);
  border-radius: 10px;
}

// Scroll button
#section10 a {
  padding-top: 58px;
  position: relative;
  top: 20vh;
}
#section10 a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 30px;
  height: 50px;
  margin-left: -15px;
  border: 2px solid gray;
  border-radius: 50px;
  box-sizing: border-box;
  &:hover {
    border-color: white;
  }
}
#section10 a span::before {
  position: absolute;
  top: 10px;
  left: 50%;
  content: "";
  width: 6px;
  height: 6px;
  margin-left: -3px;
  background-color: chocolate;
  border-radius: 100%;
  -webkit-animation: sdb10 2s infinite;
  animation: sdb10 2s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb10 {
  0% {
    -webkit-transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    -webkit-transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb10 {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
